@import './base.css';

#app {
  padding: 80px;
  background-color: rgb(35, 35, 35);
  }
  p,h2{
    color: #057eda;
  }
  .input-bg{
    background-color: #9cd4ff;
  }
  .input-bg:focus {
    background-color: #9cd4ff; /* Mantieni lo stesso colore di sfondo in focus */
  }